<div class="d-flex flex-wrap align-items-start justify-content-center h-100 w-100">
    <script>
        const APP_URL = window.location.origin;

        function generateUrl(route, type, message) {
            return encodeURI(APP_URL + route + '?notification=' + message + '&type=' + type)
        }

        function errorAction(data) {
            window.location.href = generateUrl('/shippings', 'error', data.message);
        }

        async function deleteShipping(id) {
            try {
                const res = await fetch(
                    '/shippings/' + id,
                    { method: 'DELETE'}
                );

                const data = await res.json();
                if (res.status === 200) {
                    window.location.href = generateUrl('/shippings', 'success', data.message);
                } else {
                    errorAction(data);
                }
            } catch (error) {
                errorAction({ message: "Erro deletando a forma de frete. Entre em contato com o suporte." })
            }

        }
    </script>

    <div class="my-3">
        <h1><u>Formas de Frete</u></h1>

        <a href="/shippings/create" type="button" role="button" style="color: #fff!important" class="btn btn-success m-3"
            data-toggle="tooltip" data-placement="bottom" title="create new shipping">
            <i class="fa-solid fa-plus"></i>  Criar
        </a>

        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço (R$)</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                <% shippings.forEach(function(shipping){ %>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title=<%- shipping.id %>><%- shipping.id.substring(0,8) + '...' %></th>
                        <td><%- shipping.name %></td>
                        <td><%- shipping.price %></td>
                        <td>
                            <div class="d-flex flex-wrap">
                                <a href=<%- "/shippings/" + shipping.id %> type="button" role="button" style="color: #fff!important" class="btn btn-success m-1"
                                    data-toggle="tooltip" data-placement="bottom" title="ver detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href=<%- "/shippings/" + shipping.id + "/edit/"%> type="button" role="button" style="color: #fff!important" class="btn btn-warning m-1"
                                    data-toggle="tooltip" data-placement="bottom" title="editar">
                                    <i class="fa-solid fa-pen"></i>
                                </a>

                                <% if (shipping.canDelete) { %>
                                    <button class="btn btn-danger m-1" data-toggle="tooltip" data-placement="bottom" title="deletar"
                                        onclick=<%- "deleteShipping('" + shipping.id + "')"%>>
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                <%} else { %>
                                    <button class="btn btn-secondary m-1" data-toggle="tooltip" data-placement="bottom" title="Não é possível deletar esse registro" disabled>
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                <% } %>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
          </table>
    </div>
</div>