<div class="d-flex flex-wrap align-items-center justify-content-center w-100 h-100">
    <div class="container w-100 h-100 my-3">
        <h1 class="text-left"><u>Detalhes da Forma de Frete</u></h1>
        <div>
            <a href="/shippings">Voltar</a>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-center w-100 my-5">
            <div class="card w-50">
                <div class="card-header"><%- shipping.name %></div>
                <div class="card-body">
                    <div>
                        <p><strong>ID: </strong><%- shipping.id %></p>
                        <p><strong>Criado em: </strong><%- shipping.createdAt.toLocaleString() %></p>
                        <p><strong>Atualizado em: </strong><%- shipping.updatedAt.toLocaleString() %></p>
                        <p><strong>Descrição: </strong><%- shipping.description %></p>
                        <p><strong>Preço: </strong>R$ <%- shipping.price.toFixed(2) %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
