<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://kit.fontawesome.com/b99cfe7eb2.js" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <%- include('./header.ejs') %>

    <div class="w-100">
        <% if (notification) { %>
            <% switch (notification.type) {
                case 'error' : %>
                    <div class="alert alert-danger m-0" role="alert">
                        <%- notification.message %>
                    </div>
                    <% break;
                case 'success' : %>
                    <div class="alert alert-success m-0" role="alert">
                        <%- notification.message %>
                    </div>
                    <% break;
                case 'warning' : %>
                    <div class="alert alert-warning m-0" role="alert">
                        <%- notification.message %>
                    </div>
                    <% break;
            } %>
        <% } %>
    </div>

    <main>
        <% if (user) { %>
            <div class="container-fluid h-100">
                <div class="row justify-content-center h-100">
                    <div class="col-2 d-flex flex-column justify-content-between align-items-center bg-secondary">
                        <%- include('./sideMenu.ejs') %>
                    </div>

                    <div class="col d-flex flex-column justify-content-between align-items-center">
                        <%- body %>

                        <% if (showPosts) { %>
                            <%- include('./posts.ejs') %>
                        <% } %>
                    </div>
                </div>
            </div>
        <%} else { %>
            <div class="container-fluid h-100">
                <div class="row justify-content-center h-100">
                    <div class="col d-flex flex-column justify-content-between align-items-center">
                        <%- body %>

                        <% if (showPosts) { %>
                            <%- include('./posts.ejs') %>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </main>

    <%- include('./footer.ejs') %>
</body>

</html>