<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://kit.fontawesome.com/b99cfe7eb2.js" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>

<body>
    <%- include('./header.ejs') %>

    <div class="w-100">
        <% if (notification) { %>
            <% switch (notification.type) {
                case 'error' : %>
                    <div class="alert alert-danger m-0" role="alert">
                        <%- notification.message %>
                    </div>
                    <% break;
                case 'success' : %>
                    <div class="alert alert-success m-0" role="alert">
                        <%- notification.message %>
                    </div>
                    <% break;
                case 'warning' : %>
                    <div class="alert alert-warning m-0" role="alert">
                        <%- notification.message %>
                    </div>
                    <% break;
            } %>
        <% } %>
    </div>

    <main>
        <% if (user) { %>
            <div class="container-fluid h-100">
                <div class="row justify-content-center h-100">
                    <div class="col-2 d-flex flex-column justify-content-between align-items-center bg-secondary">
                        <%- include('./sideMenu.ejs') %>
                    </div>

                    <div class="col d-flex flex-column justify-content-between align-items-center">
                        <%- body %>

                        <% if (showPosts) { %>
                            <%- include('./posts.ejs') %>
                        <% } %>
                    </div>
                </div>
            </div>
        <%} else { %>
            <div class="container-fluid h-100">
                <div class="row justify-content-center h-100">
                    <div class="col d-flex flex-column justify-content-between align-items-center">
                        <%- body %>

                        <% if (showPosts) { %>
                            <%- include('./posts.ejs') %>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </main>

    <%- include('./footer.ejs') %>

    <script>
        // Cart Operations
        // cart format = { "ID_1": { quantity: 1, name: 'x', price: '1.22' }, ... }

        const COOKIE_NAME = 'cart';

        const REF_URL = window.location.origin;

        function generateNotificationUrl(route, type, message) {
            return encodeURI(REF_URL + route + '?notification=' + message + '&type=' + type);
        }

        function afterCartAction(success, message, route) {
            const type = success ? 'success' : 'error';

            window.location.href = generateNotificationUrl(route, type, message);
        }

        function saveCart(cart) {
            Cookies.set(COOKIE_NAME, JSON.stringify(cart));
        }

        function createNewCart() {
            const cart = {};

            saveCart(cart);

            return cart;
        }

        function getCart() {
            const cartCookie = Cookies.get(COOKIE_NAME);
            let cart;

            // validations
            try {
                cart = JSON.parse(cartCookie);

                if (typeof cart === 'number' || typeof cart === 'boolean') {
                    throw Error;
                }
            } catch (error) {
                return createNewCart();
            }

            return cart;
        }

        function addItemToCart(id, quantity, name, price) {
            const cart = getCart();

            cart[id] = { quantity, name, price };

            saveCart(cart);

            afterCartAction(true, 'Product added to cart!', '/products/showcase');
        }

        function removeItemFromCart(id) {
            const cart = getCart();

            delete cart[id];

            saveCart(cart);

            afterCartAction(true, 'Product removed from cart!', '/cart');
        }

        function incItemQuantity(itemId) {
            const cart = getCart();

            cart[itemId].quantity += 1;

            saveCart(cart);

            afterCartAction(true, 'Increased product quantity', '/cart');
        }

        function decItemQuantity(itemId) {
            const cart = getCart();

            if (cart[itemId].quantity > 1) {
                cart[itemId].quantity -= 1;

                saveCart(cart);

                afterCartAction(true, 'Decreased product quantity', '/cart');
            }
        }

        function goToCheckout() {
            // save selected shipping
            const selectedShippingId = $('#selectShipping').val();
            Cookies.set('shipping', selectedShippingId);

            // go to checkout page
            window.location.href = encodeURI(REF_URL + '/orders/create');
        }
    </script>
</body>

</html>