<div class="d-flex flex-wrap align-items-start justify-content-center h-100 w-100">
    <script>
        const APP_URL = window.location.origin;

        function generateUrl(route, type, message) {
            return encodeURI(APP_URL + route + '?notification=' + message + '&type=' + type)
        }

        function errorAction(data) {
            window.location.href = generateUrl('/posts', 'error', data.message);
        }

        async function deletePost(id) {
            try {
                const res = await fetch(
                    '/posts/' + id,
                    { method: 'DELETE'}
                );

                const data = await res.json();
                if (res.status === 200) {
                    window.location.href = generateUrl('/posts', 'success', data.message);
                } else {
                    errorAction(data);
                }
            } catch (error) {
                errorAction({ message: "Error deleting post. Contact support for help." })
            }

        }
    </script>

    <div class="my-3">
        <h1><u>Posts</u></h1>

        <a href="/posts/create" type="button" role="button" class="btn btn-outline-success m-3"
            data-toggle="tooltip" data-placement="bottom" title="create new post">
            <i class="fa-solid fa-plus"></i>  Create
        </a>

        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Owner</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <% posts.forEach(function(post){ %>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title=<%- post.id %>><%- post.id.substring(0,8) + '...' %></th>
                        <td><%- post.title %></td>
                        <td><%- post.owner.name %></td>
                        <td>
                            <div class="d-flex flex-wrap">
                                <a href=<%- "/posts/" + post.id %> type="button" role="button" class="btn btn-outline-success m-1"
                                    data-toggle="tooltip" data-placement="bottom" title="view details">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href=<%- "/posts/" + post.id + "/edit/"%> type="button" role="button" class="btn btn-outline-warning m-1"
                                    data-toggle="tooltip" data-placement="bottom" title="edit">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <button class="btn btn-outline-danger m-1" data-toggle="tooltip" data-placement="bottom" title="delete"
                                    onclick=<%- "deletePost('" + post.id + "')"%>>
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
          </table>
    </div>
</div>