<div class="d-flex flex-wrap align-items-center justify-content-center w-100 h-100">
    <div class="container w-100 h-100 my-3">
        <h1 class="text-left"><u>Detalhes do Artigo</u></h1>
        <div>
            <a href="/posts">Voltar</a>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-center w-100 my-5">
            <div class="card w-50">
                <div class="card-header"><%- post.title %></div>
                <div class="card-body">
                    <div>
                        <p><strong>ID: </strong><%- post.id %></p>
                        <p><strong>Criador: </strong><%- post.owner.name %></p>
                        <p><strong>Criado em: </strong><%- post.createdAt.toLocaleString() %></p>
                        <p><strong>Atualizado em: </strong><%- post.updatedAt.toLocaleString() %></p>
                        <p><strong>Descrição: </strong><%- post.content %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
